{% extends 'temp/teachers.html' %}
{% block base %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
	<h1 align="center">UPLOAD STUDY MATERIAL</h1>
	<table align="center">
        <tr>
			<td><b>Semester</b></td>
			<td><input type="text" name="semester" required=""></td>
		</tr>
		<tr>
			<td><b>Choose material</b></td>
			<td><input type="file" name="file" required=""></td>
		</tr>
		<tr>
			<td></td>
		<td><input align="center" type="submit" name="upload" value="UPLOAD" class="btn btn-control"></td>
		<td><input align="right" type="submit" name="cancel" value="CANCEL" class="btn btn-control"></td>
		</tr>
	</table>
</form>
{% endblock %}